<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="login-page">
    <div class="form">
        <h1>Welcome, <%= username %> back to the site!</h1>
        <p><a href="/logout">Logout</a></p>
    </div>
</div>
