<link rel="stylesheet" type="text/css" href="/stylesheets/styles.css">
<div class="login-page">
    <div class="form">
        <h1>Welcome, <%= username %> back to the site!</h1>
        <a href="/story/1">Story 1</a>
        <a href="/story/2">Story 2</a>
        <a href="/story/3">Story 3</a>
        <br>
        <a href="/statement">Download your statment</a>
        <p><a href="/logout">Logout</a></p>
    </div>
</div>
